*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: 20px 30px;
    height: 100%;
    width: 100%;
}

.model{
    position: relative;
    display: inline-block;
    width: 346px;
    height: 500px;
    
}

.heart{
    position: absolute;
    padding: 10px;
    top: 12px;
    right: -1px;
    background-color: white;
}

.sconto{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 0px;
    color: white;
    background-color: red;
}

.eco{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 42px;
    color: white;
    background-color: green;
}

.solo{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 0px;
    color: white;
    background-color: green;
}

img{
   height: 100%;
}

.sinistra {
    margin-left: 100px;
   margin-right: 20px;
}

.centro {
    margin-left: 20px;
    margin-right: 20px;
}

.destra {
    margin-left: 20px;
    margin-right: 100px;
}
