*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
}

.model{
    position: relative;
    display: inline-block;
    width: 346px;
    height: 500px;
    margin-top: 40px;
}

.variante{
    position: absolute;
    display: inline-block;
    width: 346px;
    height: 500px;
}

.heart{
    position: absolute;
    padding: 10px;
    top: 12px;
    right: -1px;
    background-color: white;
}

.sconto{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 0px;
    color: white;
    background-color: #e50641;
}

.eco{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 42px;
    color: white;
    background-color: #08835a;
}

.solo{
    position: absolute;
    float: left;
    font-size: 14px;
    padding: 3px 4px;
    top: 466px;
    left: 0px;
    color: white;
    background-color: #08835a;
}

img{
   height: 100%;
}

.sinistra {
    margin-left: 100px;
   margin-right: 10px;
}

.centro {
    margin-left: 10px;
    margin-right: 10px;
}

.destra {
    margin-left: 10px;
    margin-right: 100px;
}

.descrizione h2{
    font-size: 12px;
    color: #929189;
}

.descrizione h1{
    color: black;
    font-size: 13px;
}

.descrizione p{
    font-size: 12px;
    color: #e50641;
}

.descrizione del{
    color: black;
}

.model:hover .heart{
    color: red;
}

.model:hover .variante{
    display: none;
}

